{% extends 'public/_article_base.html' %}
{% block title %}Sigma Pi Gamma Iota - Service{% endblock %}
{% load staticfiles %}
{% block content %}
	<div class="article-section">
		<h1 >Overview</h1>
		<p>
		Our chapter's activities fall into five main categories:
		<ul>
			<li><a href="#service">Philanthropy and community service</a></li>
			<li><a href="#greek">Events with other Greek organizations</a></li>
			<li><a href="#social">Social events</a></li>
			<li><a href="#brotherhood">Brotherhood and alumni events</a></li>
			<li><a href="#rush">Rush (recruitment)</a></li>
			<li style="visibility: hidden"></li>
		</p>
	</div>

	<div class="article-section">
		<h1><span id="service"></span>Philanthropy &amp; Community Service</h1>
		<div class="text-block">
			<p>
			Our brotherhood considers community service with high importance, and we strive to give back to the Worcester and WPI community. Throughout the 2016/2017 academic year our brothers contributed over 1000 hours across 47 unique service events. Whether as mentors for FIRST Robotics teams or farmhands for local farmers, our chapter has made lasting contributions to the area.
			</p>
			<p>
			The sections below outline the major recurring service events that our chapter participates in; however, they do not capture the entire picture of how Sigma Pi gives back to the community.
			</p>
			<p>
			<em>To learn about the service and philanthropy efforts of our international organization, visit our Fraternity's <a href="http://sigmapi.org/about-sigma-pi/our-philanthropy/">official webpage.</a></em>
			</p>
		</div>
		<h2>Freshman Move-In</h2>
		<div class="text-block row">
			<a class="image-wrapper col-md-4" href="{% static 'img/orig/activities/move-in.jpg' %}">
				<img src="{% static 'img/activities/move-in.jpg' %}">
			</a>
			<div class="col-md-8">
				<p>
				At the beginning of each academic year, our chapter joins with other Greek chapters on campus, and helps incoming freshmen move into their dormitories. We welcome each student with cheers and help carry their belongings to their rooms. This effort not only allows incoming freshmen to move in smoothly and rapidly, but also serves as a welcoming gesture toward the new class from the fraternities and sororities on campus.
				</p>
			</div>
		</div>
		<h2>Relay For Life</h2>
		<div class="text-block row">
			<div class="col-md-8">
				<p>
					Each spring our chapter participates in the WPI Relay for Life put on by the American Cancer Society. Leading up to the event our brotherhood raises money for cancer research through fundraising and personal contributions. During the event our brothers walk in support of those who have battled cancer.
				</p>
			</div>
			<a class="image-wrapper col-md-4" href="{% static 'img/orig/activities/relay.jpg' %}">
				<img src="{% static 'img/activities/relay.jpg' %}">
			</a>
		</div>
		<h2>ACE Project</h2>
		<div class="row">
			<a class="image-wrapper col-md-4" href="{% static 'img/orig/activities/ace.jpg' %}">
				<img src="{% static 'img/activities/ace.jpg' %}">
			</a>
			<div class="col-md-8">
				<p>
					An Altruistic Campus Experience (ACE) is an annual project that each chapter of Sigma Pi completes in benefit of their host institution. For our chapter, this project serves to foster the unique and supportive community that WPI has to offer. Past ACE projects have included supporting the Amazing Day Foundation and promoting mental health. 
				</p>
			</div>
		</div>
		<h2>Amazing Day</h2>
		<div class="text-block row">
			<div class="col-md-7">
				<p>
				The Amazing Day Foundation exists in support of suicide awareness and prevention. This topic is of extreme importance particularly on college campuses, where an estimated 1 in 12 students have strongly considered suicide.
				</p>
				<p>
				At WPI, our brotherhood is making efforts to support the Amazing Day Foundation and raise awareness. As our 2017 ACE project, our brothers educated members of the WPI community about the prevalence of suicide on college campuses and the resources that WPI offers through an event on the WPI Quad. In addition to this, we provided food and activities on the quad that allowed students to relax outdoors after completing their midterms.
				</p>
			</div>
			<a class="image-wrapper col-md-5" href="{% static 'img/orig/activities/amazing-day.jpg' %}">
				<img src="{% static 'img/activities/amazing-day.jpg' %}">
			</a>
		</div>
	</div>
	
	<div class="article-section">
		<h1><span id="greek"></span>Inter-Greek Events</h1>
		<div class="text-block">
			<em>This section is under construction</em>
		</div>
	</div>

	<div class="article-section">
		<h1><span id="social"></span>Social Events</h1>
		<div class="text-block">
			<em>This section is under construction</em>
		</div>
	</div>

	<div class="article-section">
		<h1><span id="brotherhood"></span>Brotherhood &amp; Alumni Events</h1>
		<div class="text-block">
			<em>This section is under construction</em>
		</div>
	</div>

	<div class="article-section">
		<h1><span id="rush"></span>Rush (Recruitment)</h1>
		<div class="text-block">
			<em>This section is under construction</em>
		</div>
	</div>

	<div class="stretcher">
	</div>

{% endblock %}