{% extends 'common/public_base.html' %}

{% block local_includes %}
	{% load staticfiles %}
{% endblock %}

{% block title %}
Sigma Pi Gamma Iota
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-7">
		<h2 style="display:inline;">A-Term 2017</h2>
	</div>
</div>
<div class="row" style="margin-top: 10px;">
	<div class="col-md-12">
		<img class="img-responsive featured-news-image" src="/static/img/home/bubble_soccer_3.jpg"/>
	</div>
	<div class="col-md-12" style="margin-top: 10px">
		Join Sigma Pi on the quad on September 22nd, 2:00-6:00 PM for Bubble Soccer!
		We will be raising awareness and accepting donations for suicide prevention in support of the
		Amazing Day Foundation, Sigma Pi's national philanthropy.
	</div>
</div>

<ul class="news">
	<h2>
		Past Events
	</h2>
	<li>
		<h4>
			Graduation 2017
		</h4>
		<img class="img-responsive" src="/static/img/home/seniors_2017.jpg"/>
		<p class="details">
			Congratulations to Sigma Pi's twenty-eight seniors and one graduate student,
			who graduated in May 2017!
		</p>
	</li>
	<li class="separator">
		<h4>
			Orchid Ball
		</h4>
		<img class="img-responsive" src="/static/img/home/orchid_ball_2017.jpg"/>
		<p class="details">
			Held on a yacht in Boston Harbor, this year's Orchid Ball featured delicious
			food, fun dancing, and beautiful sunset views of the Boston skyline.
		</p>
	</li>
	<li>
		<h4>
			Relay for Life
		</h4>
		<img class="img-responsive" src="/static/img/home/relay_2017.jpg"/>
		<p class="details">
			We participated in the ACS's Relay for Life at WPI in order to raise funds
			and support for cancer awareness, research, and treatment.
		</p>
	</li>
	<li class="separator">
		<h4>
			Greek Week Talent Show 2nd Place!
		</h4>
		<iframe width="560" height="300" src="//www.youtube.com/embed/8DBLC0VtLNw" frameborder="0" allowfullscreen>
		</iframe>
		<p class="details">
			Dance-off at the beach! (2017)
		</p>
	</li>
	<li>
		<h4>
			Initiation 2017
		</h4>
		<img class="img-responsive" src="/static/img/home/omicrons.jpg"/>
		<p class="details">
			Congratulations to all thirty-three members of Omicron class, who,
			in the spring semester of 2017, completed the New Member process and
			became Brothers of Sigma Pi!
		</p>
	</li>
	<li class="separator">
		<h4>
			Greek Week Talent Show 1st Place!
		</h4>
		<iframe width="560" height="350" src="//www.youtube.com/embed/NGgcKJ3XYDI" frameborder="0" allowfullscreen>
		</iframe>
		<p class="details">
			 'N Sync versus Backstreet Boys throwdown! (2014)
		</p>
	</li>
	<li>
</ul>
{% endblock %}
