{% extends 'public/_article_base.html' %}
{% block title %}Sigma Pi Gamma Iota - IQP Map{% endblock %}

{% load sass_tags %}
{% block article_includes %}
    {% load staticfiles %}
    <link href="{%sass_src 'css/public/map.scss'%}?v=1" rel="stylesheet">
{% endblock %}


{% block content_title %}
  IQP Map
{% endblock %}

{% block article %}

  <div class="container content-top-margin">
      <h2>Brothers Abroad</h2>
      <p>This is an interactive map of brothers who are currently on IQP.</p>

  </div>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
     integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
     crossorigin=""></script>

  <div class="mapdiv", id="mapdiv">
    <script>
      var map = L.map('mapdiv', {
          zoom: 5,
          minZoom: 2,
          maxZoom: 20,
          maxBoundsViscosity: 1.0
          });

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic2Rtb3JhbiIsImEiOiJjanU3dmg0dWUwcTNkNGRtZnZpcXhwNndoIn0.TWcmvvVgQMtHY-KR8nowSw', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox.streets'
    }).addTo(map);

  {#L.marker([51.5, -0.09]).addTo(map)#}
  {#    .bindPopup('<b>Kyle Reese</b><br>London, England</br>');#}
  {##}
  {#  L.marker([42.261646, -71.8057012]).addTo(map)#}
  {#  .bindPopup('<b>WPI</b><br>Worcester, USA</br>')#}
  {#  .openPopup();#}
  {##}
  {#  L.marker([-37.9722326,144.7722751]).addTo(map)#}
  {#  .bindPopup('<b>Drew Robert</b><br>Melbourne, Australia</br>')#}
  {#  .openPopup();#}

  {% for b in brothers %}
      var s = document.createElement('script');
      s.src = 'https://nominatim.openstreetmap.org/search?json_callback=cb&q={{ b.userinfo.iqpCity }},%20{{ b.userinfo.iqpCountry }}&format=json&limit=1';
      document.getElementsByTagName('head')[0].appendChild(s);

      function cb(json) {
          if (typeof json[0] !== 'undefined') {
              L.marker([json[0].lat, json[0].lon]).addTo(map)
                  .bindPopup('<b>{{ b.first_name }} {{ b.last_name }}</b><br>Melbourne, Australia</br>')
                  .openPopup();
              console.log({{ b.userinfo.first_name }});
              console.log({{ b.userinfo.iqpLon }});
          }
      }
    {% endfor %}

    map.setView([0,-16.7699181], 2);
    </script>

  </div>
{% endblock %}