{% extends 'public/_article_base.html' %}
{% block title %}Sigma Pi Gamma Iota - Service{% endblock %}
{% load staticfiles %}

{% block content_title %}
  Rush Sigma Pi!
{% endblock %}
{% block article %}
  <div class="container content-top-margin">
    <br>
    <h2>About Rush:</h2>
    <div class="text-block">
    	<div class="image-wrapper float-md-right">
        <img src="{% static 'img/service/ace.jpg' %}">
      	</div>
    </div>
    <h2>Upcoming Events:</h2>
    <div class="text-block">
      <ul>
        <li>Month/Day (Hour:Minute): Event Title (zoomlink)</li>
        <li>Month/Day (Hour:Minute): Event Title (zoomlink)</li>
        <li>Month/Day (Hour:Minute): Event Title (zoomlink)</li>
        <li>Month/Day (Hour:Minute): Event Title (zoomlink)</li>
        <li>Month/Day (Hour:Minute): Event Title (zoomlink)</li>
      </ul>
    </div>
    <h2>Contact Us</h2>
    <div class="text-block">
      <p>
        Rush Co-Chairs: <br>
        Owen , Class Year: Year, Phone: Phone, Email: email <br>
        Jason , Class Year: Year, Phone: Phone, Email: email <br> <br>
        President: <br>
        Owen , Class Year: Year, Phone: Phone, Email: email
      </p>
    </div>
    <h2>Essential Links</h2>
    <div class="text-block">
    </div>
  </div>
{% endblock %}