{% extends 'public/_article_base.html' %}
{% block title %}Sigma Pi Gamma Iota - Service{% endblock %}
{% load staticfiles %}

{% block content_title %}
  Rush Sigma Pi!
{% endblock %}
{% block article %}
  <div class="container content-top-margin">
    <br>
    <h2>About Rush:</h2>
    <div class="text-block">
    	Hello and welcome to Rush 2020 for Sigma Pi Gamma Iota Chapter! We hope you enjoyed IFC Showcase and house tours and are excited to get to know you better throughout the rest of Rush. This site will hopefully allow you to find and come to our events throughout Rush. Below is our calendar of events and can be found along with links to events. Also, there is a form below that can be filled out to be added to a group for Rush updates. Please feel free to reach out to our Rush Chairs, Jason and Owen, and our President, Lucas, if you have any questions! 
    </div>
    <br>
    <div class="image-wrapper float-md-right">
        <img src="{% static 'img/house_summer_2016.jpg' %}">
      	</div>
    <h2>Upcoming Events:</h2>
    <div class="text-block">
      <ul>
        <li>10/23, (7:30PM - 8:30PM): <a href="https://wpi.campuslabs.com/engage/event/6562842">IFC Virtual Showcase</a></li>
        <li>10/24, (7:00PM): Game Night</li>
        <li>10/27, (7:00PM): Last Presentation Standing</li>
        <li>10/31, (12:00PM): Quad Games</li>
        <li>11/4, (7:00PM): Virtual Casino Night</li>
        <li>11/8, (12:00PM): Lawn Games</li>
        <li>11/9, (7:00PM): Netflix Teleparty</li>
        <li>11/12, (7:00PM): The Great Internet Challenge</li>
        <li>11/17, (7:00PM): Hot Ones (Invite Only)</li>
        <li>11/20, (7:00PM): Bid Night</li>
      </ul>
    </div>
    <h2>Contact Us:</h2>
    <div class="text-block">
      <p>
        Rush Co-Chairs: <br>
        Owen Ferrara, 978-302-4405, ogferrara@wpi.edu <br>
        Jason Jemison, 315-261-2131, jajemison@wpi.edu <br> <br>
        President: <br>
        Lucas Falsarella Guerreiro, 413-686-3040, lfalsarellaguerr@wpi.edu
      </p>
    </div>
    <br>
  
	<h2>Essential Links:</h2>
    <div class="text-block">
      <a href="https://discord.gg/ggs6A2Z">Rush Discord</a> <br>
    	<a href="https://www.wpi.edu/student-experience/getting-involved/fraternities-sororities">WPI Rush Info Page</a> <br>
    	<a href="https://www.wpi.edu/student-experience/getting-involved/fraternities-sororities/joining">WPI Joining Greek Life Info Page</a> <br>
    	<a href="https://www.wpiifc.org/recruitment">IFC Recruitment Page</a> <br>
    	<a href="https://www.facebook.com/SigmaPiWPI">Facebook</a>, 
    	<a href="https://www.instagram.com/sigmapiwpi/">Instagram</a> <br> <br> <br>
    	Interest Form: 
    </div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeNxrnGLF2zf7vuUI0j41fiy1VgaFA3OgvE3GnFs0y1vwUz5g/viewform?embedded=true" width="640" height="896" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> <br> <br>
  </div>
{% endblock %}