{% extends "secure_base.html" %}
{% block title %}Sigma Pi Secure - Welcome{% endblock %}

{% block content %}

<h3>{{title}}</h3>

{% if calendar_url %}
<p>
  Click <a href="{{calendar_url}}" target="_blank">here</a>
  to view the calendar in its own page.
</p>
<div class="table-responsive nospaced">
  <iframe width="100%" style="height: 60vh;" src="{{calendar_url}}" frameborder="0"></iframe>
</div>

{% elif general_calendar_url %}
<p>
  Click <a href="{{general_calendar_url}}" target="_blank">here</a>
  to view the calendar in its own page.
</p>
<div class="table-responsive nospaced">
  <iframe width="100%" style="height: 60vh;" src="{{general_calendar_url}}" frameborder="0"></iframe>
</div>
{% endif %}

{% endblock %}
