*.pyc*
__pycache__
*.DS_Store
.vagrant/
.idea/
.vscode/
venv/
build/
sigmapiweb/static/css/secure/*.css
sigmapiweb/static/css/public/*.css
sigmapiweb/common/settings/local.py

# Colin is using pipenv, don't want to accidentally push this
Pipfile