*.pyc*
__pycache__
*.DS_Store
.vagrant/
.idea/
venv/
build/
sigmapiweb/static/css/secure/*.css
sigmapiweb/static/css/public/*.css

# Colin is using pipenv, don't want to accidentally push this
Pipfile