{% extends "public_base.html" %}

{% block local_includes %}
	{% load staticfiles %}
{% endblock %}

{% block title %}
Sigma Pi Gamma Iota
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-7">
		<h2 style="display:inline;">2016 Rush Calendar</h2>
	</div>
	<style>
	#social-div{
		margin:8px 0px;
	}
	 @media screen and (min-width: 992px)
	 {
		 #social-div{
 			text-align:right;
			margin:0px;
 		}
	 }
	</style>
	<div id="social-div" class="col-md-5">
		<style>
			a.social
			{
				margin: 0px 5px;
				text-decoration: none;
			}
		</style>
		<a target="_blank" class="social" href="https://www.facebook.com/groups/rushsigmapi2016/" style="margin-left:0px;">
			<img  src="/static/img/fb.png" style="max-height: 30px;">
		</a>
		<a target="_blank" class="social" href="https://www.snapchat.com/add/rushsigmapi">
		<img src="/static/img/snapchat.png" style="max-height: 33px;">
		</a>
		<a target="_blank" class="social" href="https://www.instagram.com/rushsigmapi/">
			<img class="social" src="/static/img/instagram.png" style="max-height: 33px;">
		</a>
	</div>
</div>
<div class="row" style="margin-top: 10px;">
	<div class="col-md-12">
		<img class="img-responsive" src="/static/img/rush_cal_2016_front.jpg"/>
		<br />
		<img class="img-responsive" src="/static/img/rush_cal_2016_back.jpg"/>
	</div>
</div>

<ul class="news">
	<h2>
		Recent News
	</h2>
	<li>
		<h4>
			Greek Week Talent Show 2nd Place!
		</h4>
		<iframe width="560" height="300" src="//www.youtube.com/embed/t0VNm6yLP_8" frameborder="0" allowfullscreen>
		</iframe>
		<p class="details">
			Uptown Funk heroes save the day (2015)
		</p>
	</li>
	<li class="separator">
		<h4>
			Alma Mater 2nd Place!
		</h4>
		<iframe width="560" height="300" src="//www.youtube.com/embed/3x9FrhKy1SY" frameborder="0" allowfullscreen>
		</iframe>
		<p class="details">
			Sean Smith, Alexander Zitoli, and Michael Derryberry (2015)
		</p>
	</li>
	<li>
		<h4>
			Chapter of the Year!
		</h4>
		<img src="{% static "img/home/awards.JPG" %}">
		<p class="details">
			We also won awards for Most Improved Chapter, Outstanding Leadership Development, and Outstanding Risk Management (2014)
		</p>
	</li>
	<li class="separator">
		<h4>
			Greek Week Talent Show 1st Place!
		</h4>
		<iframe width="560" height="350" src="//www.youtube.com/embed/NGgcKJ3XYDI" frameborder="0" allowfullscreen>
		</iframe>
		<p class="details">
			 'N Sync versus Backstreet Boys throwdown! (2014)
		</p>
	</li>
	<li>
</ul>
{% endblock %}
