{% extends "public_base.html" %}

{% block local_includes %}
	{% load staticfiles %}
{% endblock %}

{% block title %}
Sigma Pi Gamma Iota
{% endblock %}

{% block content %}

<ul class="news">
	<h2>
		Recent News
	</h2>
	<li>
		<h4>
			Sigma Pi takes second at Alma Mater!
		</h4>
		<iframe width="560" height="300" src="//www.youtube.com/embed/3x9FrhKy1SY" frameborder="0" allowfullscreen>
		</iframe>
		<p class="details">
			Sean Smith, Alexander Zitoli, and Michael Derryberry (2015)
		</p>
	</li>
	<li class="separator">
		<h4>
			Sigma Pi wins Chapter of the Year!
		</h4>
		<img src="{% static "img/home/awards.JPG" %}">
		<p class="details">
			We also won awards for Most Improved Chapter, Outstanding Leadership Development, and Outstanding Risk Management.
		</p>
	</li>
	<li>
		<h4>
			Sigma Pi wins Greek Week Talent Show!
		</h4>
		<iframe width="560" height="350" src="//www.youtube.com/embed/NGgcKJ3XYDI" frameborder="0" allowfullscreen>
		</iframe>
		<p class="details">
			 'N Sync versus Backstreet Boys throwdown! (2014)
		</p>
	</li>
</ul>
{% endblock %}
