{% extends "public_base.html" %}

{% block local_includes %}
	{% load staticfiles %}
{% endblock %}

{% block title %}
Sigma Pi Gamma Iota
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<h2>2015 Rush Calendar</h2>
		<a href="https://www.facebook.com/groups/681839815286147/">
			<img class="img-responsive" src="/static/img/rush_cal.jpg"/>
		</a>
	</div>
</div>

<ul class="news">
	<h2>
		Recent News
	</h2>
	<li>
		<h4>
			Greek Week Talent Show 2nd Place!
		</h4>
		<iframe width="560" height="300" src="//www.youtube.com/embed/t0VNm6yLP_8" frameborder="0" allowfullscreen>
		</iframe>
		<p class="details">
			Uptown Funk heroes save the day (2015)
		</p>
	</li>
	<li class="separator">
		<h4>
			Alma Mater 2nd Place!
		</h4>
		<iframe width="560" height="300" src="//www.youtube.com/embed/3x9FrhKy1SY" frameborder="0" allowfullscreen>
		</iframe>
		<p class="details">
			Sean Smith, Alexander Zitoli, and Michael Derryberry (2015)
		</p>
	</li>
	<li>
		<h4>
			Chapter of the Year!
		</h4>
		<img src="{% static "img/home/awards.JPG" %}">
		<p class="details">
			We also won awards for Most Improved Chapter, Outstanding Leadership Development, and Outstanding Risk Management (2014)
		</p>
	</li>
	<li class="separator">
		<h4>
			Greek Week Talent Show 1st Place!
		</h4>
		<iframe width="560" height="350" src="//www.youtube.com/embed/NGgcKJ3XYDI" frameborder="0" allowfullscreen>
		</iframe>
		<p class="details">
			 'N Sync versus Backstreet Boys throwdown! (2014)
		</p>
	</li>
	<li>
</ul>
{% endblock %}
