{% extends 'secure/archives_base.html' %}
{% block title %}Sigma Pi Secure - Guides {% endblock %}

{% block module_includes %}
{% load staticfiles %}
<script type='text/javascript' src='{% static "js/lib/jquery.dataTables.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/secure/autotable.js" %}'></script>
{% endblock %}

{% block content %}
<h3>View house guides, documentation and files.</h3>

{% if perms.Archive.add_guide %}
<div class="actions">
	<ul class="nav nav-pills">
		<li>
			<a href="#" data-toggle="modal" data-target="#add-guide">
				<span class="glyphicon glyphicon-plus"></span> Add Guide/File
			</a>
		</li>
	</ul>
</div>
{% endif %}

{% if form.errors %}
<div class="alert alert-warning">
	<strong>Failed to add guide/file!</strong>
	<p>{{ form.errors }}</p>
</div>
{% endif %}

{% if guides %}
<div class="table-responsive">
	<table class="dataTable table">
		<thead>
			<tr>
				<th class="two wide">Date Posted</th>
				<th class="three wide">Title</th>
				<th class="five wide">Description</th>
				<th class="two wide">View</th>
				{% if perms.Archive.delete_guide %} <th class="one wide">Delete</th> {% endif %}
			</tr>
		</thead>
		<tbody>
			{% for guide in guides %}
			<tr>
				<td>{{ guide.datePosted }}</td>
				<td>{{ guide.name }}</td>
				<td>{{ guide.description }}</td>
				<td>
					<a href="{% url 'Archive.views.download_guides' guide.pk %}">View</a>
				</td>
				{% if perms.Archive.delete_guide %}
				<td>
					<form method="post" action="{% url 'Archive.views.delete_guide' %}">
						{% csrf_token %}
						<a href="#" onclick="$(this).closest('form').submit()">Delete</a>
						<input type="hidden" name="post_id" value="{{ guide.pk }}"/>
					</form>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<p>
	No house guides/files found. Check back later.
</p>
{% endif %}
{% endblock %}

{% if perms.Archive.add_guide %}
{% block toplevel_content %}
<div class="modal" id="add-guide">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
	   	</button>
		<h4 class="modal-title">Add New Guide/File</h4>
	  </div>
	  <div class="modal-body">
		<form enctype="multipart/form-data" method="post" action="{% url 'Archive.views.guides' %}" id="add-guide-form">
			{% csrf_token %}
			<div class="form-group">
		  		<label for="id_name" class="control-label">Title*</label>
		  		{{form.name}}
			</div>
			<div class="form-group">
				<label for="id_description" class="control-label">Description*</label>
		  		{{form.description}}
			</div>
			<div class="form-group">
		<p>Guide file MUST be a PDF.</p>
				<label for="id_filepath" class="control-label">Guide/File*</label>
				{{form.filepath}}
			</div>
		</form>

	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" class="btn btn-primary" onclick="$('#add-guide-form').submit()">Add Guide/File</button>
	  </div>
	</div>
  </div>
</div>
{% endblock %}
{% endif %}
