{% extends 'mailinglists/_base.html' %}
{% block title %}Sigma Pi Secure - Email Subscriptions {% endblock %}

{% block content %}
<h3>Available Mailing Lists</h3>

{% if mailing_lists %}
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="one wide">Name</th>
				<th class="seven wide">Description</th>
				<th class="two wide">Can Send To?</th>
				<th class="one wide">Subcribe?</th>
			</tr>
		</thead>
		<tbody>
		{% for ml in mailing_lists %}
			<tr>
				<td>{{ ml.name }}</td>
				<td>{{ ml.description }}</td>
				<td>
					{% if ml.can_send %}
					Yes
					{% else %}
					No
					{% endif %}
				<td>
					<form method="POST" action="{% url 'mailinglists-set_subscribed' ml.name %}">
						{% csrf_token %}
						<input  type="checkbox"
								name="subscribe"
								onchange="$(this).closest('form').submit()"
						{% if ml.subscribed %}
						checked
						{% else %}
						{% endif %}
						>
						</input>
					</form>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

</div>
<p>
	<em>
		Checking or unchecking "Subscribe?" automatically
		applies changes.
	<em>
</p>
{% else %}
<p>
	You do not have access to any mailing lists.
</p>

{% endif %}

{% endblock %}
