
@import '../common/_const.scss';

html, body {
	width: 100%;
}

#main-content {
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	padding-top: 25px;
	@media only screen and (min-width: 950px) {
		width: 850px;
		margin-left: auto;
		margin-right: auto;
	}
}

.article-section {
	background-color: $bg-col;
	opacity: 0.92;
	border-radius: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 1px 2% 2% 2%;
	@media only screen and (max-width: 767px) {
		margin-left: 5px;
		margin-right: 5px;
	}
	@media only screen and (min-width: 768px) {
		margin-left: 25px;
		margin-right: 25px;
	}
}

.footer {
	text-align: center;
	padding: 3% 0% 0% 0%;
}

.left-half {
	@media only screen and (max-width: 767px) {
		width: 100%
	}
	@media only screen and (min-width: 768px) {
		width: 50%;
		float: left;
	}
}

.right-half {
	@media only screen and (max-width: 767px) {
		width: 100%
	}
	@media only screen and (min-width: 768px) {
		width: 50%;
		float: right;
	}
}

.middle {
	width: 100%;
	text-align: center;
	img {
		@media only screen and (max-width: 767px) {
			width: 100%
		}
		@media only screen and (min-width: 768px) {
			width: 75%;
		}
	}
}

.image-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	@media only screen and (min-width: 768px) {
		margin-left: 10px;
		margin-right: 10px;
	}
	display: inline-block;
	text-align: center;
	img {
		padding: 0;
		max-width: 100%
	}
	.caption {
		padding-top: 5px;
		text-decoration: none !important;
		color: $fg-col;
		outline: none;
	}
}

.row .image-wrapper {
	margin: 0px;
}

.image-pair-responsive {
	width: 100%;
	display: block;
	@media only screen and (max-width: 767px) {
	}
	@media only screen and (min-width: 768px) {
		height: 15%;
		white-space: nowrap;
		text-align: center;
	}
	.image-wrapper {
		@media only screen and (max-width: 767px) {
			text-align: center;
			width: 100%;
		}
		@media only screen and (min-width: 768px) {
			width: 42%;
		}
		img {
			padding: 0;
			width: 100%
		}
	}
}
.caption {
	font-style: italic;
}

.stretcher {
	margin: 0;
	width: 100%;
	height: 800px;
}