
@import '../common/_const.scss';

html, body, #content-wrapper {
	width: 100%;
	height: 100%;
}

#content-bkg-lowres {
    background-image: url('/static/img/bkg/low-res/flag.jpg');
}

#main-content {
	padding: 1px 2% 2% 2%;
	@media only screen and (min-width: 768px) {
		margin: 0% 20% 0% 20%;
	}
	height: 100%;
}

#login-wrapper-1 {
	display: table;
	width: 100%;
	height: 100%
}

#login-wrapper-2 {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}

#login-content {
	min-width: 100%;
	background-color: $bg-col;
	opacity: 0.92;
	display: inline-block;
	padding: 0 2% 0 2%;
	border-radius: 10px;
};