@import 'variables';

.login-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  font-size: 16px;
  max-width: 500px;
  margin: 20px;

  p {
    text-align: center;
  }

  .already-in {
    font-size: 20px;
  }

  .login-inner {
    margin-bottom: 20px;
  }
  .reset-inner {
    margin-bottom: 20px;
    justify-content: center;
  }

  .text-field {
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;

    &:focus {
      border: 1px solid $sp-blue;
    }
  }

  button[type='submit'] {
    background: $sp-purple;
    width: 100%;
    border-radius: 4px;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
  }
}
