{% extends "party_base.html" %}
{% block title %}Sigma Pi Secure - Add Party {% endblock %}

{% block module_includes %}
	{% load staticfiles %}
	<script type="text/javascript" src='{% static "js/lib/moment.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/lib/bootstrap-datetimepicker.min.js" %}'></script>
	<link rel="stylesheet" type="text/css" href='{% static "css/lib/bootstrap-datetimepicker.min.css" %}'/>
{% endblock %}

{% block content %}
<h3>Add a new party.</h3>

<form enctype="multipart/form-data" method="post" action="{% url 'PartyList.views.add_party' %}" role="form" class="centered medium">	
	{% csrf_token %}
	{% if message %}
	<div class="alert alert-info">
		{% for msg in message %}
		<p>{{ msg }}</p>
		{% endfor %}
	</div>
	{% endif %}
	<div class="form-group">
  		<label class="control-label" for="id_name">Party Name</label>
  		<input type="text" id="id_name" name="name" maxlength="50" class="form-control"/>
	</div>
	<div class="form-group">
  		<label class="control-label" for="datepicker">Party Date</label>
  		<input type="text" id="datepicker" name="date" maxlength="50" class="form-control"/>
	</div>
	<button type="submit" class="btn btn-primary pull-right">Add Party</button>
</form>
{% endblock %}

{% block embedded_js %}

<script type="text/javascript">
	// Initialize all date pickers on the page.
	$('#datepicker').datetimepicker({
		pickTime: false,
		showToday: true,
		minDate: moment()
	});
</script>

{% endblock %}