{% extends 'partiesv2/_base.html' %}

{% block title %}Sigma Pi Secure - View All Parties {% endblock %}

{% block content %}
<h3>View all parties.</h3>

{% if all_parties or old_parties %}
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="five wide">Party Name</th>
				<th class="three wide">Party Date</th>
				<th class="two wide">Jobs</th>
				<th class="two wide">Guest List</th>
			</tr>
		</thead>
		<tbody>
		{% for p in all_parties reversed %}
	  		<tr>
				<td>{{ p.name }}</td>
			  	<td>{{ p.party_start.date }}</td>
			  	<td>
				  	{% if p.jobs %}
					<a href="{% url 'partylist-download_jobs' p.pk %}">
					Jobs
					</a>
				  	{% else %}
				  	Not Posted
				  	{% endif %}
			  	</td>
			  	<td>
					<a href="{% url 'partylist-guests' p.pk %}">
						Guest List
					</a>
			  	</td>
			</tr>
		{% endfor %}
        {% for old in old_parties reversed %}
            <tr>
                <td>{{ old.name }}</td>
                <td>{{ old.date }}</td>
                <td>
                    {% if old.jobs %}
                        <a href="{{ old.jobs.url }}">
                            Jobs
                        </a>
                    {% else %}
                        Not Posted
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'partylist-old-guests' old.pk %}">
                        Guest List
                    </a>
                </td>
            </tr>
        {% endfor %}
		</tbody>
	</table>
</div>

{% else %}
<p>
	No parties exist. Check back later.
</p>

{% endif %}
{% endblock %}