<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<script type='text/javascript' src='{% static "js/lib/jquery-1.11.1.min.js" %}'></script>
	<script type="text/javascript" src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

	<link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.min.css" %}'/>

	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

	<!-- Include Response.js to enable media queries/responsive design for IE 8 and below -->
	<!--[if lt IE 9]>
	<script src='{% static "js/lib/respond.min.js" %}'></script>
	<![endif]-->

	{% block local_includes %}
		<!-- include on child templates to add page specific js and css files -->
	{% endblock %}
	<title>{% block title %}{% endblock %}</title>

	<meta name="description" content="The official website of the Gamma Iota chapter of Sigma Pi Fraternity International,  located at Worcester Polytechnic Institute in Worcester, MA.  Check out information on our history, our commitment to community service, and our brotherhood.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<!-- Google Analytics has been configured to only count views directed at
		 sigmapigammaiota.org -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-82545705-2', 'auto');
	  ga('send', 'pageview');

	</script>
</head>
<body>
	
    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-inverse sp-bg-color navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img class="logo" src="/static/img/logo.png"/>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% block navbar %}
                <ul class="nav navbar-nav">
                    {% for page_name, page_url in pages.items %}
                        {% if page_name == current_page_name %}
                            <li class="child sibling navbar-active">
                        {% else %}
                            <li class="child sibling">
                        {% endif %}
                            <a id="nav-home child" href='{{page_url}}'>
                                {{page_name}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% endblock %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {% block subnav %}
    {% endblock %}

    <div id="main-content">
        {% block content %}{% endblock %}
    </div>

    <!-- Block included for any content that must be rendered at the top level of the body -->
    {% block toplevel_content %}
    {% endblock %}

    <!-- Embedded JS -->
    <script type="text/javascript">
    (function() {
        // Line up top of content with bottom of fixed navbar
        function lineUpContent() {
            var navbar = $('#navbar')
            var content = $('#main-content')
            var margin = 0; //window.innerWidth * 0.02; TODO
            var contentPlacement = navbar.position().top + navbar.height() + margin;
            content.css('margin-top', contentPlacement);
            $('body').css('height', $('html').height() - navbar.height() - margin - 1);
        }
        $(document).ready(lineUpContent);
        $(window).resize(lineUpContent);

        // Hack to fix Windows Phone 8 IE rendering bug
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
          var msViewportStyle = document.createElement('style')
          msViewportStyle.appendChild(
            document.createTextNode(
              '@-ms-viewport{width:auto!important}'
            )
          )
          document.querySelector('head').appendChild(msViewportStyle)
        }

        // Hack to fix stock Android browser rendering of select inputs
        $(function () {
          var nua = navigator.userAgent
          var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
          if (isAndroid) {
            $('select.form-control').removeClass('form-control').css('width', '100%')
          }
        })
    })();
    </script>

    {% block embedded_js %}
    {% endblock %}
</body>
</html>
