{% extends "common/_base.html" %}

{% block local_includes %}
    {% load staticfiles %}
    {% load sass_tags %}

    {% block primary_stylesheet %}
        <link rel="stylesheet" type="text/css" href="{% sass_src 'css/public/base_v1.scss' %}"/>
    {% endblock %}

    {% block module_includes %}
    {% endblock %}
{% endblock %}

{% block navbar_items %}
<ul class="nav navbar-nav">
    <li class="child sibling">
        <a id="nav-home child" href='/'>
            Home
        </a>
    </li>
    <li class="child sibling">
        <a id="nav-home child" href='/news/all'>
            News &amp; Events
        </a>
    </li>
    <li class="child sibling">
        <a id="nav-history child" href="/history">
            History
        </a>
    </li>
    <li class="child sibling">
        <a id="nav-service child" href="/service">
            Service
        </a>
    </li class="child sibling">
    <li>
        <a id="nav-brothers child" href="/brothers">
            Brothers
        </a>
    </li>
    <li>
        <a id="nav-secure" href="/secure">
            Log In
        </a>
    </li>
</ul>
{% endblock %}