{% extends 'common/_base.html' %}

{% block navbar %}
		{% if '/history' in request.path %}
		<ul class="nav navbar-nav">
			<li>
				<a id="nav-home" href='/'>
					Home
				</a>
			</li>
			<li class="active">
				<a id="nav-history" href="/history">
					History
				</a>
			</li>
			<li>
				<a id="nav-service" href="/service">
					Service
				</a>
			</li>
			<li>
				<a id="nav-brothers" href="/users">
					Brothers
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a id="nav-secure" href="/secure">
					<span class="glyphicon glyphicon-lock"></span>
				</a>
			</li>
		</ul>
		{% elif '/service' in request.path %}
		<ul class="nav navbar-nav">
			<li>
				<a id="nav-home" href='/'>
					Home
				</a>
			</li>
			<li>
				<a id="nav-history" href="/history">
					History
				</a>
			</li>
			<li class="active">
				<a id="nav-service" href="/service">
					Service
				</a>
			</li>
			<li>
				<a id="nav-brothers" href="/users">
					Brothers
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a id="nav-secure" href="/secure">
					<span class="glyphicon glyphicon-lock"></span>
				</a>
			</li>
		</ul>
		{% elif '/users' in request.path %}
		<ul class="nav navbar-nav">
			<li>
				<a id="nav-home" href='/'>
					Home
				</a>
			</li>
			<li>
				<a id="nav-history" href="/history">
					History
				</a>
			</li>
			<li>
				<a id="nav-service" href="/service">
					Service
				</a>
			</li>
			<li class="active">
				<a id="nav-brothers" href="/users">
					Brothers
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a id="nav-secure" href="/secure">
					<span class="glyphicon glyphicon-lock"></span>
				</a>
			</li>
		</ul>
		{% elif '/403' in request.path %}
		<ul class="nav navbar-nav">
			<li>
				<a id="nav-home" href='/'>
					Home
				</a>
			</li>
			<li>
				<a id="nav-history" href="/history">
					History
				</a>
			</li>
			<li>
				<a id="nav-service" href="/service">
					Service
				</a>
			</li>
			<li>
				<a id="nav-brothers" href="/users">
					Brothers
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="active">
				<a id="nav-secure" href="/secure">
					<span class="glyphicon glyphicon-lock"></span>
				</a>
			</li>
		</ul>
		{% elif '/login' in request.path %}
		<ul class="nav navbar-nav">
			<li>
				<a id="nav-home" href='/'>
					Home
				</a>
			</li>
			<li>
				<a id="nav-history" href="/history">
					History
				</a>
			</li>
			<li>
				<a id="nav-service" href="/service">
					Service
				</a>
			</li>
			<li>
				<a id="nav-brothers" href="/users">
					Brothers
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="active">
				<a id="nav-secure" href="/secure">
					<span class="glyphicon glyphicon-lock"></span>
				</a>
			</li>
		</ul>
		{% else %}
		<ul class="nav navbar-nav">
			<li class="active">
				<a id="nav-home" href='/'>
					Home
				</a>
			</li>
			<li>
				<a id="nav-history" href="/history">
					History
				</a>
			</li>
			<li>
				<a id="nav-service" href="/service">
					Service
				</a>
			</li>
			<li>
				<a id="nav-brothers" href="/users">
					Brothers
				</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a id="nav-secure" href="/secure">
					<span class="glyphicon glyphicon-lock"></span>
				</a>
			</li>
		</ul>
		{% endif %}
{% endblock %}

{% block footer-content %}
	<div id="public-only-footer">
		<div id="donate">
			<a href="{% url 'pub-donate' %}" class="btn btn-med btn-themed" id="donate-btn">Donate!</a>
		</div>
	</div>
{% endblock %}