{% extends 'common/_base.html' %}

{% load staticfiles %}
{% block local_includes %}
	<link rel="stylesheet" type="text/css" href='{% static "css/secure/secure_theme.css" %}'/>

	<script type="text/javascript" src="{% static 'js/secure/common.js' %}"></script>
	{% block module_includes %}
	{% endblock %}
{% endblock %}

{% block navbar %}
		<ul class="nav navbar-nav">

			{% if secure_index %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{'/secure/'}}">
					<span class="glyphicon glyphicon-lock"></span>
				</a>
			</li>

			{% if '/secure/calendar' in request.path %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a id="calendar" href="{{ '/secure/calendar' }}">
				  Calendar
			</a>
			</li>

			{% if perms.Archive.access_guide %}
			{% if '/secure/archives' in request.path %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a id="archives" href="{{ '/secure/archives' }}">
				  Archives
			</a>
			</li>
			{% endif %}

			{% if '/secure/scholarship' in request.path %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a id="scholarship" href="{{ '/secure/scholarship' }}">
				Scholarship
			</a>
			</li>

			{% if '/secure/standards' in request.path %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a id="standards" href="{{'/secure/standards'}}">
				Standards
			</a>
			</li>

			{% if perms.Links.access_link %}
			{% if '/secure/links' in request.path %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a id="links" href="{{ '/secure/links' }}">
				Links
			</a>
			</li>
			{% endif %}

			{% if '/secure/parties' in request.path %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a id="party_list" href="{{ '/secure/parties' }}">
				Parties
			</a>
			</li>

			{% if perms.UserInfo.manage_users %}
				{% if '/secure/users' in request.path %}
				<li class="active">
				{% else %}
				<li>
				{% endif %}
				<a id="users" href="{{ '/secure/users' }}">
					Users
				</a>
				</li>
			{% endif %}
			</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
	  			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }}
	  				<span class="caret"></span>
	  			</a>
	  			<ul class="dropdown-menu" role="menu">
							{% if user.is_staff %}
				<li><a href="/admin/">Admin Panel</a>
							{% else %}
					<li><a href="{% url 'userinfo-edit_user' user.username %}">Edit Profile</a></li>
					<li><a href="{% url 'userinfo-change_email' %}">Change Email</a></li>
					<li><a href="{% url 'userinfo-change_password' %}">Change Password</a></li>
			  {% endif %}
					<li class="divider"></li>
					<li><a href="/logout/">Logout</a></li>
				</ul>
			</li>
			<li>
				<a href="{{'/'}}">
					<span class="glyphicon glyphicon-home"></span>
				</a>
			</li>
  		</ul>
{% endblock %}

{% block subnav %}
	{% block module_nav %}
	{% endblock %}
{% endblock %}
