{% extends 'parties/_base.html' %}

{% block title %}Sigma Pi Secure - Blacklist{% endblock %}

{% block content %}
<h3>Party Blacklist</h3>

{% if blacklist %}
<div class="table-responsive">
	<table class="table blacklist-table">
		<thead>
			<tr>
				<th class="two wide">Name</th>
				<th class="six wide">Details</th>
			</tr>
		</thead>
		<tbody>
		{% for person in blacklist %}
			<tr>
				<td>{{ person.name }}</td>
				<td>{{ person.details }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% else %}
<p>
	Blacklist empty.
</p>

{% endif %}

{% endblock %}
