{% extends 'public/_article_base.html' %}
{% block title %}Sigma Pi Gamma Iota - Brothers{% endblock %}
{% comment %}
{% block content %}
<div class="article-section">
	<em>This page is currently under construction.</em>
</div>
<div class="stretcher">
</div>
{% endblock %}
{% endcomment %}

{% load sass_tags %}
{% block module_includes %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href='{% sass_src "css/public/brothers_v1.scss" %}'/>
{% endblock %}

{% block content %}

<!-- START EXECUTIVE COUNCIL -->
<h2 class="themed-back">Executive Council</h2>
<div class="row" style="margin:0px 0px 0px 0px">
  	<div class="col-sm-6"> <!-- Start Left Column -->
  		{% if sage %} <!-- Start Sage -->
			<div class="user-panel" style="margin:5% 2% 5% 32%">
				<h3 class="position-title">Sage</h3>
				<h3 class="name-title">{{ sage.first_name }} {{ sage.last_name }}</h3>
				<div class="panel-body">
					<img src="{{ sage.userinfo.picture|profile_image }}">
					<div class="content">
						<div class="nameval">
							<div class="name">Class:</div>
							<div class="value">{{ sage.userinfo.pledgeClass.name }}</div>
						</div>
						<div class="nameval">
							<div class="name">Year:</div>
							<div class="value">{{ sage.userinfo.graduationYear }}</div>
						</div>
						<div class="nameval">
							<div class="name">Major:</div>
							<div class="value">{{ sage.userinfo.major }}</div>
						</div>
						<div class="nameval">
							<div class="name">Hometown:</div>
							<div class="value">{{ sage.userinfo.hometown }}</div>
						</div>
						<div class="nameval">
							<div class="name">Activities:</div>
							<div class="value">{{ sage.userinfo.activities }}</div>
						</div>
						<div class="nameval">
							<div class="name">Interests:</div>
							<div class="value">{{ sage.userinfo.interests }}</div>
						</div>
						<div class="nameval">
							<div class="name">Favorite Memory:</div>
							<div class="value">{{ sage.userinfo.favoriteMemory }}</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
		{% if third %} <!-- Start 3rd -->
			<div class="user-panel" style="margin:5% 2% 5% 32%">
				<h3 class="position-title">3rd Counselor</h3>
				<h3 class="name-title">{{ third.first_name }} {{ third.last_name }}</h3>
				<div class="panel-body">
					<img src="{{ third.userinfo.picture|profile_image }}">
					<div class="content">
						<div class="nameval">
							<div class="name">Class:</div>
							<div class="value">{{ third.userinfo.pledgeClass.name }}</div>
						</div>
						<div class="nameval">
							<div class="name">Year:</div>
							<div class="value">{{ third.userinfo.graduationYear }}</div>
						</div>
						<div class="nameval">
							<div class="name">Major:</div>
							<div class="value">{{ third.userinfo.major }}</div>
						</div>
						<div class="nameval">
							<div class="name">Hometown:</div>
							<div class="value">{{ third.userinfo.hometown }}</div>
						</div>
						<div class="nameval">
							<div class="name">Activities:</div>
							<div class="value">{{ third.userinfo.activities }}</div>
						</div>
						<div class="nameval">
							<div class="name">Interests:</div>
							<div class="value">{{ third.userinfo.interests }}</div>
						</div>
						<div class="nameval">
							<div class="name">Favorite Memory:</div>
							<div class="value">{{ third.userinfo.favoriteMemory }}</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %} <!-- End 3rd -->
		{% if first %} <!-- Start 1st -->
			<div class="user-panel" style="margin:5% 2% 5% 32%">
				<h3 class="position-title">1st Counselor</h3>
				<h3 class="name-title">{{ first.first_name }} {{ first.last_name }}</h3>
				<div class="panel-body">
					<img src="{{ first.userinfo.picture|profile_image }}">
					<div class="content">
						<div class="nameval">
							<div class="name">Class:</div>
							<div class="value">{{ first.userinfo.pledgeClass.name }}</div>
						</div>
						<div class="nameval">
							<div class="name">Year:</div>
							<div class="value">{{ first.userinfo.graduationYear }}</div>
						</div>
						<div class="nameval">
							<div class="name">Major:</div>
							<div class="value">{{ first.userinfo.major }}</div>
						</div>
						<div class="nameval">
							<div class="name">Hometown:</div>
							<div class="value">{{ first.userinfo.hometown }}</div>
						</div>
						<div class="nameval">
							<div class="name">Activities:</div>
							<div class="value">{{ first.userinfo.activities }}</div>
						</div>
						<div class="nameval">
							<div class="name">Interests:</div>
							<div class="value">{{ first.userinfo.interests }}</div>
						</div>
						<div class="nameval">
							<div class="name">Favorite Memory:</div>
							<div class="value">{{ first.userinfo.favoriteMemory }}</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %} <!-- End First -->
  	</div> <!-- End Left Column -->
  	<div class="col-sm-6"> <!-- Start Right Column -->
  		{% if second %} <!-- Start Second -->
			<div class="user-panel" style="margin:5% 32% 5% 2%">
				<h3 class="position-title">2nd Counselor</h3>
				<h3 class="name-title">{{ second.first_name }} {{ second.last_name }}</h3>
				<div class="panel-body">
					<img src="{{ second.userinfo.picture|profile_image }}">
					<div class="content">
						<div class="nameval">
							<div class="name">Class:</div>
							<div class="value">{{ second.userinfo.pledgeClass.name }}</div>
						</div>
						<div class="nameval">
							<div class="name">Year:</div>
							<div class="value">{{ second.userinfo.graduationYear }}</div>
						</div>
						<div class="nameval">
							<div class="name">Major:</div>
							<div class="value">{{ second.userinfo.major }}</div>
						</div>
						<div class="nameval">
							<div class="name">Hometown:</div>
							<div class="value">{{ second.userinfo.hometown }}</div>
						</div>
						<div class="nameval">
							<div class="name">Activities:</div>
							<div class="value">{{ second.userinfo.activities }}</div>
						</div>
						<div class="nameval">
							<div class="name">Interests:</div>
							<div class="value">{{ second.userinfo.interests }}</div>
						</div>
						<div class="nameval">
							<div class="name">Favorite Memory:</div>
							<div class="value">{{ second.userinfo.favoriteMemory }}</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %} <!-- End Second-->
		{% if fourth %} <!-- Start 4th -->
			<div class="user-panel" style="margin:5% 32% 5% 2%">
				<h3 class="position-title">4th Counselor</h3>
				<h3 class="name-title">{{ fourth.first_name }} {{ fourth.last_name }}</h3>
				<div class="panel-body">
					<img src="{{ fourth.userinfo.picture|profile_image }}">
					<div class="content">
						<div class="nameval">
							<div class="name">Class:</div>
							<div class="value">{{ fourth.userinfo.pledgeClass.name }}</div>
						</div>
						<div class="nameval">
							<div class="name">Year:</div>
							<div class="value">{{ fourth.userinfo.graduationYear }}</div>
						</div>
						<div class="nameval">
							<div class="name">Major:</div>
							<div class="value">{{ fourth.userinfo.major }}</div>
						</div>
						<div class="nameval">
							<div class="name">Hometown:</div>
							<div class="value">{{ fourth.userinfo.hometown }}</div>
						</div>
						<div class="nameval">
							<div class="name">Activities:</div>
							<div class="value">{{ fourth.userinfo.activities }}</div>
						</div>
						<div class="nameval">
							<div class="name">Interests:</div>
							<div class="value">{{ fourth.userinfo.interests }}</div>
						</div>
						<div class="nameval">
							<div class="name">Favorite Memory:</div>
							<div class="value">{{ fourth.userinfo.favoriteMemory }}</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %} <!-- End 4th -->
		{% if herald %} <!-- Start Herald-->
			<div class="user-panel" style="margin:5% 32% 5% 2%">
				<h3 class="position-title">Herald</h3>
				<h3 class="name-title">{{ herald.first_name }} {{ herald.last_name }}</h3>
				<div class="panel-body">
					<img src="{{ herald.userinfo.picture|profile_image }}">
					<div class="content">
						<div class="nameval">
							<div class="name">Class:</div>
							<div class="value">{{ herald.userinfo.pledgeClass.name }}</div>
						</div>
						<div class="nameval">
							<div class="name">Year:</div>
							<div class="value">{{ herald.userinfo.graduationYear }}</div>
						</div>
						<div class="nameval">
							<div class="name">Major:</div>
							<div class="value">{{ herald.userinfo.major }}</div>
						</div>
						<div class="nameval">
							<div class="name">Hometown:</div>
							<div class="value">{{ herald.userinfo.hometown }}</div>
						</div>
						<div class="nameval">
							<div class="name">Activities:</div>
							<div class="value">{{ herald.userinfo.activities }}</div>
						</div>
						<div class="nameval">
							<div class="name">Interests:</div>
							<div class="value">{{ herald.userinfo.interests }}</div>
						</div>
						<div class="nameval">
							<div class="name">Favorite Memory:</div>
							<div class="value">{{ herald.userinfo.favoriteMemory }}</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %} <!-- End Herald -->
  	</div> <!-- End Right Column -->
</div>
<!-- END EXECUTIVE COUNCIL -->

<!-- START SENIORS -->
{% if seniors %}
	<h2 class="themed-back">Seniors</h2>
	<div class="row" style="margin:0px 0px 0px 0px">
	  	<div class="col-sm-6"> <!-- Start Left Column -->
			{% for user in seniors %}
				{% if not forloop.counter|divisibleby:2 %} <!-- Get users where index % 2 == 1 -->
					<div class="user-panel" style="margin:5% 2% 5% 32%">
						<h3>{{ user.first_name }} {{ user.last_name }}</h3>
						<div class="panel-body">
							<img src="{{ user.userinfo.picture|profile_image }}">
							<div class="content">
								<div class="nameval">
									<div class="name">Class:</div>
									<div class="value">{{ user.userinfo.pledgeClass.name }}</div>
								</div>
								<div class="nameval">
									<div class="name">Year:</div>
									<div class="value">{{ user.userinfo.graduationYear }}</div>
								</div>
								<div class="nameval">
									<div class="name">Major:</div>
									<div class="value">{{ user.userinfo.major }}</div>
								</div>
								<div class="nameval">
									<div class="name">Hometown:</div>
									<div class="value">{{ user.userinfo.hometown }}</div>
								</div>
								<div class="nameval">
									<div class="name">Activities:</div>
									<div class="value">{{ user.userinfo.activities }}</div>
								</div>
								<div class="nameval">
									<div class="name">Interests:</div>
									<div class="value">{{ user.userinfo.interests }}</div>
								</div>
								<div class="nameval">
									<div class="name">Favorite Memory:</div>
									<div class="value">{{ user.userinfo.favoriteMemory }}</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div> <!-- End Left Column -->
		<div class="col-sm-6">
			{% for user in seniors %}
				{% if forloop.counter|divisibleby:2 %} <!-- Get users where index % 2 == 0 -->
					<div class="user-panel" style="margin:5% 32% 5% 2%">
						<h3>{{ user.first_name }} {{ user.last_name }}</h3>
						<div class="panel-body">
							<img src="{{ user.userinfo.picture|profile_image }}">
							<div class="content">
								<div class="nameval">
									<div class="name">Class:</div>
									<div class="value">{{ user.userinfo.pledgeClass.name }}</div>
								</div>
								<div class="nameval">
									<div class="name">Year:</div>
									<div class="value">{{ user.userinfo.graduationYear }}</div>
								</div>
								<div class="nameval">
									<div class="name">Major:</div>
									<div class="value">{{ user.userinfo.major }}</div>
								</div>
								<div class="nameval">
									<div class="name">Hometown:</div>
									<div class="value">{{ user.userinfo.hometown }}</div>
								</div>
								<div class="nameval">
									<div class="name">Activities:</div>
									<div class="value">{{ user.userinfo.activities }}</div>
								</div>
								<div class="nameval">
									<div class="name">Interests:</div>
									<div class="value">{{ user.userinfo.interests }}</div>
								</div>
								<div class="nameval">
									<div class="name">Favorite Memory:</div>
									<div class="value">{{ user.userinfo.favoriteMemory }}</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div> <!-- End Right Column -->
	</div>
{% endif %}
<!-- END SENIORS -->

<!-- START JUNIORS -->
{% if juniors %}
	<h2 class="themed-back">Juniors</h2>
	<div class="row" style="margin:0px 0px 0px 0px">
	  	<div class="col-sm-6"> <!-- Start Left Column -->
			{% for user in juniors %}
				{% if not forloop.counter|divisibleby:2 %} <!-- Get users where index % 2 == 1 -->
					<div class="user-panel" style="margin:5% 2% 5% 32%">
						<h3>{{ user.first_name }} {{ user.last_name }}</h3>
						<div class="panel-body">
							<img src="{{ user.userinfo.picture|profile_image }}">
							<div class="content">
								<div class="nameval">
									<div class="name">Class:</div>
									<div class="value">{{ user.userinfo.pledgeClass.name }}</div>
								</div>
								<div class="nameval">
									<div class="name">Year:</div>
									<div class="value">{{ user.userinfo.graduationYear }}</div>
								</div>
								<div class="nameval">
									<div class="name">Major:</div>
									<div class="value">{{ user.userinfo.major }}</div>
								</div>
								<div class="nameval">
									<div class="name">Hometown:</div>
									<div class="value">{{ user.userinfo.hometown }}</div>
								</div>
								<div class="nameval">
									<div class="name">Activities:</div>
									<div class="value">{{ user.userinfo.activities }}</div>
								</div>
								<div class="nameval">
									<div class="name">Interests:</div>
									<div class="value">{{ user.userinfo.interests }}</div>
								</div>
								<div class="nameval">
									<div class="name">Favorite Memory:</div>
									<div class="value">{{ user.userinfo.favoriteMemory }}</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div> <!-- End Left Column -->
		<div class="col-sm-6">
			{% for user in juniors %}
				{% if forloop.counter|divisibleby:2 %} <!-- Get users where index % 2 == 0 -->
					<div class="user-panel" style="margin:5% 32% 5% 2%">
						<h3>{{ user.first_name }} {{ user.last_name }}</h3>
						<div class="panel-body">
							<img src="{{ user.userinfo.picture|profile_image }}">
							<div class="content">
								<div class="nameval">
									<div class="name">Class:</div>
									<div class="value">{{ user.userinfo.pledgeClass.name }}</div>
								</div>
								<div class="nameval">
									<div class="name">Year:</div>
									<div class="value">{{ user.userinfo.graduationYear }}</div>
								</div>
								<div class="nameval">
									<div class="name">Major:</div>
									<div class="value">{{ user.userinfo.major }}</div>
								</div>
								<div class="nameval">
									<div class="name">Hometown:</div>
									<div class="value">{{ user.userinfo.hometown }}</div>
								</div>
								<div class="nameval">
									<div class="name">Activities:</div>
									<div class="value">{{ user.userinfo.activities }}</div>
								</div>
								<div class="nameval">
									<div class="name">Interests:</div>
									<div class="value">{{ user.userinfo.interests }}</div>
								</div>
								<div class="nameval">
									<div class="name">Favorite Memory:</div>
									<div class="value">{{ user.userinfo.favoriteMemory }}</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div> <!-- End Right Column -->
	</div>
{% endif %}
<!-- END JUNIORS -->

<!-- START SOPHOMORES -->
{% if sophomores %}
	<h2 class="themed-back">Sophomores</h2>
	<div class="row" style="margin:0px 0px 0px 0px">
	  	<div class="col-sm-6"> <!-- Start Left Column -->
			{% for user in sophomores %}
				{% if not forloop.counter|divisibleby:2 %} <!-- Get users where index % 2 == 1 -->
					<div class="user-panel" style="margin:5% 2% 5% 32%">
						<h3>{{ user.first_name }} {{ user.last_name }}</h3>
						<div class="panel-body">
							<img src="{{ user.userinfo.picture|profile_image }}">
							<div class="content">
								<div class="nameval">
									<div class="name">Class:</div>
									<div class="value">{{ user.userinfo.pledgeClass.name }}</div>
								</div>
								<div class="nameval">
									<div class="name">Year:</div>
									<div class="value">{{ user.userinfo.graduationYear }}</div>
								</div>
								<div class="nameval">
									<div class="name">Major:</div>
									<div class="value">{{ user.userinfo.major }}</div>
								</div>
								<div class="nameval">
									<div class="name">Hometown:</div>
									<div class="value">{{ user.userinfo.hometown }}</div>
								</div>
								<div class="nameval">
									<div class="name">Activities:</div>
									<div class="value">{{ user.userinfo.activities }}</div>
								</div>
								<div class="nameval">
									<div class="name">Interests:</div>
									<div class="value">{{ user.userinfo.interests }}</div>
								</div>
								<div class="nameval">
									<div class="name">Favorite Memory:</div>
									<div class="value">{{ user.userinfo.favoriteMemory }}</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div> <!-- End Left Column -->
		<div class="col-sm-6">
			{% for user in sophomores %}
				{% if forloop.counter|divisibleby:2 %} <!-- Get users where index % 2 == 0 -->
					<div class="user-panel" style="margin:5% 32% 5% 2%">
						<h3>{{ user.first_name }} {{ user.last_name }}</h3>
						<div class="panel-body">
							<img src="{{ user.userinfo.picture|profile_image }}">
							<div class="content">
								<div class="nameval">
									<div class="name">Class:</div>
									<div class="value">{{ user.userinfo.pledgeClass.name }}</div>
								</div>
								<div class="nameval">
									<div class="name">Year:</div>
									<div class="value">{{ user.userinfo.graduationYear }}</div>
								</div>
								<div class="nameval">
									<div class="name">Major:</div>
									<div class="value">{{ user.userinfo.major }}</div>
								</div>
								<div class="nameval">
									<div class="name">Hometown:</div>
									<div class="value">{{ user.userinfo.hometown }}</div>
								</div>
								<div class="nameval">
									<div class="name">Activities:</div>
									<div class="value">{{ user.userinfo.activities }}</div>
								</div>
								<div class="nameval">
									<div class="name">Interests:</div>
									<div class="value">{{ user.userinfo.interests }}</div>
								</div>
								<div class="nameval">
									<div class="name">Favorite Memory:</div>
									<div class="value">{{ user.userinfo.favoriteMemory }}</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div> <!-- End Right Column -->
	</div>
{% endif %}
<!-- END SOPHOMORES -->

<!-- START FRESHMAN -->
{% if freshman %}
	<h2 class="themed-back">Freshman</h2>
	<div class="row" style="margin:0px 0px 0px 0px">
	  	<div class="col-sm-6"> <!-- Start Left Column -->
			{% for user in freshman %}
				{% if not forloop.counter|divisibleby:2 %} <!-- Get users where index % 2 == 1 -->
					<div class="user-panel" style="margin:5% 2% 5% 32%">
						<h3>{{ user.first_name }} {{ user.last_name }}</h3>
						<div class="panel-body">
							<img src="{{ user.userinfo.picture|profile_image }}">
							<div class="content">
								<div class="nameval">
									<div class="name">Class:</div>
									<div class="value">{{ user.userinfo.pledgeClass.name }}</div>
								</div>
								<div class="nameval">
									<div class="name">Year:</div>
									<div class="value">{{ user.userinfo.graduationYear }}</div>
								</div>
								<div class="nameval">
									<div class="name">Major:</div>
									<div class="value">{{ user.userinfo.major }}</div>
								</div>
								<div class="nameval">
									<div class="name">Hometown:</div>
									<div class="value">{{ user.userinfo.hometown }}</div>
								</div>
								<div class="nameval">
									<div class="name">Activities:</div>
									<div class="value">{{ user.userinfo.activities }}</div>
								</div>
								<div class="nameval">
									<div class="name">Interests:</div>
									<div class="value">{{ user.userinfo.interests }}</div>
								</div>
								<div class="nameval">
									<div class="name">Favorite Memory:</div>
									<div class="value">{{ user.userinfo.favoriteMemory }}</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div> <!-- End Left Column -->
		<div class="col-sm-6">
			{% for user in freshman %}
				{% if forloop.counter|divisibleby:2 %} <!-- Get users where index % 2 == 0 -->
					<div class="user-panel" style="margin:5% 32% 5% 2%">
						<h3>{{ user.first_name }} {{ user.last_name }}</h3>
						<div class="panel-body">
							<img src="{{ user.userinfo.picture|profile_image }}">
							<div class="content">
								<div class="nameval">
									<div class="name">Class:</div>
									<div class="value">{{ user.userinfo.pledgeClass.name }}</div>
								</div>
								<div class="nameval">
									<div class="name">Year:</div>
									<div class="value">{{ user.userinfo.graduationYear }}</div>
								</div>
								<div class="nameval">
									<div class="name">Major:</div>
									<div class="value">{{ user.userinfo.major }}</div>
								</div>
								<div class="nameval">
									<div class="name">Hometown:</div>
									<div class="value">{{ user.userinfo.hometown }}</div>
								</div>
								<div class="nameval">
									<div class="name">Activities:</div>
									<div class="value">{{ user.userinfo.activities }}</div>
								</div>
								<div class="nameval">
									<div class="name">Interests:</div>
									<div class="value">{{ user.userinfo.interests }}</div>
								</div>
								<div class="nameval">
									<div class="name">Favorite Memory:</div>
									<div class="value">{{ user.userinfo.favoriteMemory }}</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div> <!-- End Right Column -->
	</div>
{% endif %}
<!-- END FRESHMAN -->


{% endblock %}