{% extends 'common/_base.html' %}
{% block local_includes %}
    {% load sass_tags %}
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"
          integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
{#  <script src="/static/js/public/family-tree.js?ver=1.0"></script>#}
  <script src="{% static 'js/public/family-tree.js' %}?ver=1.1"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'css/public/family_tree.scss' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/lib/line-scale-pulse-out.min.css' %}"/>
{% endblock %}
{% block title %}Sigma Pi Gamma Iota - Family Tree{% endblock %}

{% block body_class %}family-tree{% endblock %}

{% block body %}
  <div class="tree-tools container-fluid">
    <div class="row">
      <div class="col-4 tree-back">
        <a href="{% url 'userinfo-family_tree_dashbaord' %}" class="sp-button">Back to Sigma Pi</a>
      </div>
      <div class="col-4 tree-title">
        Sigma Pi Gamma Iota Family Tree
      </div>
      <div class="col-4 tree-tips">
          Drag to pan, Scroll to zoom
      </div>
    </div>
  </div>
  <div id="tree-container">
    <canvas id="tree"></canvas>
  </div>
  <div class="tree-loading">
    <div class="la-line-scale-pulse-out">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p>Loading Family Tree</p>
  </div>
{% endblock %}
