{% extends 'common/public_base.html' %}

{% load sass_tags %}

{% block module_includes %}
	<link rel="stylesheet" href="{% sass_src 'css/public/login.scss' %}?v=1">
{% endblock %}

{% block title %}Sigma Pi Gamma Iota - Reset Password{% endblock %}

{% load static %}

{% block content %}
  <div class="content-header">
    <div class="container">
      <h1>Reset Password</h1>
    </div>
  </div>
    <div class="login-page">
    <h2 align="center">Password Reset </h2>
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly. <br>If you don't receive an email, please make sure you've entered the WPI email
        address you registered with, and check your spam folder.</p>
  </div>
{% endblock %}