{% extends 'common/public_base.html' %}

{% load sass_tags %}

{% block module_includes %}
	<link rel="stylesheet" href="{% sass_src 'css/public/login.scss' %}?v=1">
{% endblock %}

{% block title %}Sigma Pi Gamma Iota - Reset Password{% endblock %}

{% load static %}

{% block content %}
  <div class="content-header">
    <div class="container">
      <h1>
        {% if user.is_authenticated %}
          Already Logged In
        {% else %}
          Reset Password
        {% endif %}
      </h1>
    </div>
  </div>
    <div class="login-page">
    {% if user.is_authenticated %}
      <p class="already-in">
        You are already logged in. You can reset your password from the change password page.
        <br>Did you mean to <a href="{% url 'pub-logout' %}">logout?</a>
      </p>
    {% else %}
      <p>Forgot your password? <br> Enter the email associated with your account for a password reset link.</p>
      <div class="login-inner">
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}