{% extends 'common/public_base.html' %}

{% load sass_tags %}

{% block module_includes %}
	<link rel="stylesheet" href="{% sass_src 'css/public/login.scss' %}?v=1">
{% endblock %}

{% block title %}Sigma Pi Gamma Iota - Password Reset Complete{% endblock %}

{% load static %}

{% block content %}
  <div class="content-header">
    <div class="container">
      <h1>Reset Password</h1>
    </div>
  </div>
    <div class="login-page">
    <h2 align="center">Password Reset </h2>
    <p>
    Your password has been set. You may go ahead and <a href="{% url 'pub-login' %}">sign in</a> now.
    </p>
  </div>
{% endblock %}