{% extends "secure/standards_base.html" %}

{% block title %}Sigma Pi Secure - Standards - PiPoints{% endblock %}
{% block module_includes %}
{% load static %}
<script type='text/javascript' src='{% static "js/lib/jquery.cookie.js" %}'></script>
<script type='text/javascript' src='{% static "js/lib/jquery.dataTables.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/secure/autotable.js" %}'></script>

<script type='text/javascript' src='{% static "js/secure/standards.points.js" %}'></script>
{% endblock %}
{% block content %}
<h3>Manage Pi Points</h3>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#point-standings" role="tab" data-toggle="tab">Pi Point Standings</a></li>
 	<li role="presentation">
  		<a href="#point-requests" role="tab" data-toggle="tab">Pi Point Requests (<span id="pprCount2">{{pprCount}}</span>)</a>
  	</li>
  	<li role="presentation"><a href="#point-changes" role="tab" data-toggle="tab">Pi Point Change Log</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
	<!-- Pi Point Standings -->
	<div role="tabpanel" class="tab-pane fade in active" id="point-standings">
		<p>
			If you cannot find a desired brother in the table below, <a data-toggle="modal" data-target="#add-brother" href="#">click here to add them.</a>
		</p>

		<div class="table-responsive">
			<table id="points-table" class="dataTable table">
				<thead>
					<tr>
						<th class="seven wide">Name</th>
						<th class="four wide">Points</th>
						<th class="one wide">Modify Points</th>
					</tr>
				</thead>
				<tbody>
					{% for record in point_records %}
					<tr id="{{record.pk}}" class="points-row">
						<td id="{{record.pk}}" class="points-name-field">{{ record.brother.first_name }} {{ record.brother.last_name }}</td>
						<td id="{{record.pk}}" class="points-points-field">{{ record.points }}</td>
						<td><a id="{{record.pk}}" class="btn btn-primary btn-sm modify-points-button">Modify Points</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Pi Point Requests -->
	<div role="tabpanel" class="tab-pane fade" id="point-requests">
		<div class="table-responsive">
			<table id="requests-table" class="dataTable table">
				<thead>
					<tr>
						<th class="three wide">Requester</th>
						<th class="three wide">Reason</th>
						<th class="three wide">Witness</th>
						<th class="one wide">Approve</th>
						<th class="one wide">Deny</th>
					</tr>
				</thead>
				<tbody>
					{% for request in point_requests %}
					<tr id="{{request.pk}}" class="requests_row">
						<td>{{ request.requester.first_name }} {{ request.requester.last_name }}</td>
						<td>{{ request.get_reason_display }}</td>
						<td>{{ request.witness }}</td>
						<td>
							<a id="{{request.pk}}" class="btn btn-success btn-sm approve-points-button">Approve</a>
							<span id="{{request.requester.pk}}" class="request-ider-{{request.pk}}"></span></td>
						<td><a id="{{request.pk}}" class="btn btn-danger btn-sm deny-request-button">Deny</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Pi Point Changes -->
	<div role="tabpanel" class="tab-pane fade" id="point-changes">
		<div class="table-responsive">
			<table id="changes-table" class="table dataTable">
				<thead>
					<tr>
						<th class="two wide">Date</th>
						<th class="two wide">Changer</th>
						<th class="two wide">Brother</th>
						<th class="one wide">Old Value</th>
						<th class="one wide">New Value</th>
					</tr>
				</thead>
				<tbody>
					{% for change in point_changes %}
					<tr>
						<td>{{ change.dateChanged|date:"y-m-d P" }}</td>
						<td>{{ change.modifier.first_name }} {{ change.modifier.last_name }}</td>
						<td>{{ change.brother.brother.first_name }} {{ change.brother.brother.last_name }}</td>
						<td>{{ change.oldValue }}</td>
						<td>{{ change.newValue }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}

{% block toplevel_content %}
<!-- Modify Points Form -->
<div class="modal" id="modify-points">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">
        			<span aria-hidden="true">&times;</span>
        			<span class="sr-only">Close</span>
       			</button>
        		<h4 class="modal-title">Modify Pi Points</h4>
      		</div>
      		<div class="modal-body">
      			<form role="form">
      				<div class="form-group">
						<label class="control-label">User</label>
						<div class="form-control">
							<span id="modify-points-form-user"></span>
							<span class="modify-points-form-userid"></span> <!-- This is a class so that the ID can be set to the user ID -->
						</div>
					</div>

					<div class="form-group">
						<label for="modify-points-form-points" class="control-label">Pi Points*</label>
						<input type="text" id="modify-points-form-points" name="piPoints" class="form-control"></input>
					</div>
      			</form>
      		</div>
      		<div class="modal-footer">
       			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        		<button type="button" class="btn btn-primary" id="modify-points-form-submit">Modify Points</button>
      		</div>
    	</div>
  	</div>
</div>

<!-- Add Brother Form -->
<div class="modal" id="add-brother">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">
        			<span aria-hidden="true">&times;</span>
        			<span class="sr-only">Close</span>
       			</button>
        		<h4 class="modal-title">Add Brother</h4>
      		</div>
      		<div class="modal-body">
      			<form role="form">
					<div class="form-group">
						<label class="control-label" for="id_brother">User*</label>
						{{ add_brother_form.brother }}
					</div>
					<div class="form-group">
						<label for="id_piPoints" class="control-label">Initial Pi Points*</label>
						{{ add_brother_form.piPoints }}
					</div>
      			</form>
      		</div>
      		<div class="modal-footer">
       			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        		<button type="button" class="btn btn-primary" id="add-brother-form-submit">Add Brother</button>
      		</div>
    	</div>
  	</div>
</div>
{% endblock %}
