{% extends 'common/public_base.html' %}
{% block title %}Sigma Pi Gamma Iota - Login{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h2>You Are Already Logged In.</h2>
You cannot log in again because you are already logged in.<br/><br/>
Did you mean to <a href="{% url 'pub-logout' %}">logout?</a><br/><br/>

{% else %}

	<h2>Please Login Below.</h2>
	To access restricted sections of the website, please enter your credentials below.<br/><br/>

	If you do not have access and believe that you should, please contact the webmaster.<br/><br/><br/>

	{% if form.errors %}
	<div class="alert alert-warning">
		<strong>Error!</strong>
		Incorrect username or password.  Try again.
	</div>
	{% endif %}

	<form role="form" class="form-horizontal" method="post" action="{% url 'pub-login' %}">
	{% csrf_token %}
		<div class="form-group">
			<label for="id_username" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input id="id_username" maxlength="254" name="username" type="text" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for="id_password" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input id="id_password" name="password" type="password" class="form-control">
			</div>
		</div>
		<div class="form-group clearfix" style="margin-right:0px">
			<input type="hidden" name="next" value="{{next}}" style="display:none;" />
	  		<button type="submit" class="btn btn-primary pull-right">Sign in</button>
  		</div>
	</form>
{% endif %}
{% endblock %}
