{% extends 'calendar/_base.html' %}
{% block title %}Sigma Pi Secure - Calendar Subscriptions {% endblock %}

{% block content %}
<h3>Available Calendars</h3>

{% if calendars %}
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="one wide">Name</th>
				<th class="eight wide">Description</th>
				<th class="one wide">Can Send?</th>
				<th class="one wide">Sub/Unsub</th>
			</tr>
		</thead>
		<tbody>
		{% for cal in calendars %}
			<tr>
				<td>{{ cal.name }}</td>
				<td>{{ cal.description }}</td>
				<td>
					{% if cal.can_send %}
					Yes
					{% else %}
					No
					{% endif %}
				<td>
					{% if cal.subscribed %}
						<form method="POST" action="{% url 'calendar-unsubscribe' cal.name %}">
							{% csrf_token %}
							<a href="#" onclick="$(this).closest('form').submit()">Unubscribe</a>
						</form>
					{% else %}
						<form method="POST" action="{% url 'calendar-subscribe' cal.name %}">
							{% csrf_token %}
							<a href="#" onclick="$(this).closest('form').submit()">Subscribe</a>
						</form>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

{% else %}
<p>
	You do not have access to any calendars.
</p>

{% endif %}

{% endblock %}
