
<div class="modal" id="{{listname}}-warn">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Warning</h4>
			</div>
			<div class="modal-body">
				<!-- This allows us to resubmit the user for a forced add -->
				<p hidden id="{{listprefix}}-attempted-add-gender"></p>
				<p hidden id="{{listprefix}}-attempted-add-voucher"></p>
				<p>

					The guest you've attempted to add (<span id="{{listprefix}}-attempted-add"></span>)
					is similar to the following {{listname}} entry.
				</p>

				<p>
					<strong>Name:</strong> <span id="{{listprefix}}-name"></span>
				</p>

				<p>
					<strong>Details:</strong> <span id="{{listprefix}}-details"></span>
				</p>

				<p>This could be a false positive, if the names are similar.</p>

				<div class="bl-confirmation">
					<label class="{{listname}}-option"><input type="radio" name="add" value=true id="yForce">Continue adding guest; they are a different person</label>
					<label class="{{listname}}-option"><input type="radio" name="add" value=false id="nForce" checked="">Do not add this person</label>
				</div>
				<button type="button" class="btn btn-default" id="{{listprefix}}-override" data-dismiss="modal">Confirm Selection</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="{{listname}}ee-info">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Potential {{listname}} match information</h4>
			</div>
			<div class="modal-body">
				<p>
					<em>The guest <strong id="{{listname}}-matched-name"></strong>,
						added by <strong id="{{listname}}-matched-added-by"></strong>,
						matched the following {{listname}} entry.
						Note that it is possible
						that this is a false positive.
					</em>
				</p>
				<p>
					<strong>Name: </strong><span id="{{listname}}ee-name"></span>
				</p>
				<p id="{{listname}}ee-added-by-wrapper">
					<strong>Added By: </strong><span id="{{listname}}ee-added-by"></span>
				</p>
				<p>
					<strong>Details: </strong><span id="{{listname}}ee-details"></span>
				</p>
			</div>
		</div>
	</div>
</div>
