{% extends 'parties/_base.html' %}

{% block title %}Sigma Pi Secure - Edit Party {% endblock %}

{% block module_includes %}
	{% load static %}
	<script type="text/javascript" src='{% static "js/lib/moment.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/lib/bootstrap-datetimepicker.min.js" %}'></script>
	<link rel="stylesheet" type="text/css" href='{% static "css/lib/bootstrap-datetimepicker.min.css" %}'/>
{% endblock %}

{% block content %}
	<h3>Edit the fields below to change the party's info.</h3>
	<form enctype="multipart/form-data" method="post" action="{% url 'partylist-old-edit_party' requested_party.pk %}" class="medium centered" role="form">
		{% csrf_token %}
		{% if error %}
		<div class="alert alert-warning">
			<strong>Error</strong>
			<p>{{ error }}</p>
		</div>
		{% endif %}
		<div class="form-group">
	  		<label for="id_name" class="control-label">Party Name</label>
	  		{{form.name}}
		</div>
		<div class="form-group">
			<label for="id_date" class="control-label">Party Date</label>
			{{form.date}}
		</div>
		<div class="form-group">
			<label for="id_jobs" class="control-label">Party Jobs</label>
			<br/>
	  		{{form.jobs}}
	  		
		</div>
		<button type="submit" class="btn btn-primary pull-right">Save</div>
	</form>

	<script>
		$("#id_date").attr("data-date-format", "YYYY-MM-DD"); 
		$("#id_date").datetimepicker({
			pickTime: false,
			showToday: true,
			minDate: moment()
		});
	</script>
{% endblock %}