{% extends 'parties/_base.html' %}
{% block title %}Sigma Pi Secure - Manage Parties {% endblock %}

{% block content %}
<h3>Edit and delete existing parties.</h3>

{% if all_parties %}
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="two wide">Party Name</th>
				<th class="two wide">Party Date</th>
				<th class="one wide">Edit</th>
				<th class="one wide">Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for party in all_parties reversed %}
			<tr>
				<td>{{ party.name }}</td>
				<td>{{ party.date }}</td>
				<td>
					<a href="{% url 'partylist-edit_party' party.pk %}">Edit</a>
				</td>
				<td>
					<form method="POST" action="{% url 'partylist-delete_party' party.pk %}">
						{% csrf_token %}
						<a href="#" onclick="$(this).closest('form').submit()">Delete</a>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}

<p>
	No parties exist. <a href="{% url 'partylist-add_party' %}">Create a new one.</a>
</p>
{% endif %}

{% endblock %}
