{% extends 'common/secure_base.html' %}
{% block title %}Sigma Pi Secure - Welcome{% endblock %}

{% block content %}

<h3>{{title}}</h3>

{% if calendar_name_url_pairs %}

{% if calendar_name_url_pairs|length == 1 %}
<p>
	Click <a href="{{calendar_name_url_pairs.0.1}}" target="_blank">here</a>
	to view the calendar in its own page.
</p>
{% else %}
<p>
	View the calendar in its own page as:
	<ul>
	{% for pair in calendar_name_url_pairs %}
	<li><a href="{{pair.1}}" target="_blank">{{pair.0}}</a></li>
	{% endfor %}
	</ul>
</p>
{% endif %}

<div class="table-responsive nospaced">
	<iframe width="100%" style="height: 60vh;"
	src="{{calendar_name_url_pairs.0.1}}" frameborder="0"></iframe>
</div>

{% endif %}

{% endblock %}
