{% extends 'standards/_base.html' %}

{% block title %}Sigma Pi Secure - Manage Summons {% endblock %}
{% load common_utils %}

{% load staticfiles %}
{% block module_includes %}
	<script type="text/javascript" src='{% static "js/lib/moment.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/lib/bootstrap-datetimepicker.min.js" %}'></script>
	<script type='text/javascript' src='{% static "js/lib/jquery.dataTables.min.js" %}'></script>
	<script type='text/javascript' src='{% static "js/secure/autotable.js" %}'></script>
	<link rel="stylesheet" type="text/css" href='{% static "css/lib/bootstrap-datetimepicker.min.css" %}'/>
{% endblock %}

{% block content %}
<h3>Manage Summons</h3>

<!-- Display any messages -->
{% if error %}
<div class="alert alert-warning">
	<strong>Error!</strong>
	{{ error | safe }}
</div>
{% endif %}
{% if msg %}
<div class="alert alert-success">
	<strong>Success!</strong>
	{{ msg | safe }}
</div>
{% endif %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#summons" role="tab" data-toggle="tab">Active Summons</a></li>
  <li role="presentation"><a href="#summons-history" role="tab" data-toggle="tab">Summons History</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
	<!-- Summons -->
	<div role="tabpanel" class="tab-pane fade in active" id="summons">
		<div class="table-responsive nospaced">
	 		<table class="dataTable-nosort table">
	 			<thead>
	 				<tr>
	 					<th class="two wide">Date</th>
	 					<th class="two wide">Recipient</th>
	 					<th class="four wide">Reason</th>
	 					<th class="two wide">Summoner</th>
	 					<th class="two wide">Approver</th>
						<th class="one wide">Archive</th>
	 					<th class="one wide">Reject</th>
	 				</tr>
	 			</thead>
	 			<tbody>
	 				{% for summons in all_summons reversed %}
	 				<tr>
	 					<td>{{ summons.dateSummonsSent }}</td>
	 					<td>{{ summons|full_name:"summonee" }}</td>
	 					<td id="reason_{{ summons.pk }}">
							{% if summons.spokeWith %}
								<strong>Conversation outcome: </strong>{{ summons.outcomes }}
								<br>
								<strong>Further action requested because: </strong>{{summons.standards_action}}
							{% else %}
								<strong>Special circumstance: </strong>{{summons.special_circumstance}}
							{% endif %}
						</td>
	 					<td>{{ summons|full_name:"summoner" }}</td>
	 					<td>{{ summons|full_name:"approver" }}</td>
	 					<td>
	 						<a class="btn btn-success btn-sm approve-summons" id="{{ summons.pk }}">
	 						Approve
	 						</a>
	 					</td>
	 					<td>
	 						<a class="btn btn-danger btn-sm reject-summons" id="{{summons.pk}}">Reject</a>
	 					</td>
	 				</tr>
	 				{% endfor %}
	 			</tbody>
	 		</table>
	 	</div>
 	</div>

	<div role="tabpanel" class="tab-pane fade" id="summons-history">
		<div class="table-responsive">
			<table class="dataTable-nosort table">
				<thead>
					<tr>
						<th class="one wide">Date</th>
						<th class="one wide">Summonee</th>
						<th class="one wide">Summoner</th>
						<th class="three wide">Summons Details</th>
						<th class="three wide">Result</th>
						<th class="one wide">Status</th>
					</tr>
				</thead>
				<tbody>
					{% for history in summons_history %}
					<tr>
						<td>{{ history.date }}</td>
						<td>{{ history|full_name:"summonee" }}</td>
						<td>{{ history|full_name:"summoner" }}</td>
						<td>
							{{ history.details }}
						</td>
						<td>{{ history.resultReason }}</td>
						<td><strong>{% if history.rejected %}<span style="color: red">Rejected</span>{% else %}<span style="color: green">Approved</span>{% endif %}</strong></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}

{% block toplevel_content %}
<!-- Accept / Archive Summons Form -->
<div class="modal" id="accept-summons">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Approve / Archive Summons</h4>
			</div>
			<div class="modal-body">
				<form enctype="multipart/form-data" method="post" action="{% url 'standards-accept_summons' 0 %}" id="accept-summons-form" role="form">
					{% csrf_token %}
					<div class="form-group">
						Accept the summons and archive the results.
					</div>
					<div class="form-group" id="archive-summons-description">
						<label for="id_details" class="control-label">Summons Description</label>
						{{archive_summons_form.details}}
					</div>
					<div class="form-group" id="accept-summons-reason">
						<label for="id_resultReason" class="control-label">Action Taken / Details</label>
						{{archive_summons_form.resultReason}}
					</div>
				</form>
	  		</div>
	  		<div class="modal-footer">
	   			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" onclick="$('#accept-summons-form').submit()">Archive Summons</button>
	  		</div>
		</div>
  	</div>
</div>

<!-- Reject Summons Form -->
<div class="modal" id="reject-summons">
	<div class="modal-dialog">
		<div class="modal-content">
	  		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
	   			</button>
				<h4 class="modal-title">Reject Summons</h4>
	  		</div>
	  		<div class="modal-body">
				<form enctype="multipart/form-data" method="post" action="{% url 'standards-delete_summons' 0 %}" id="reject-summons-form" role="form">
					{% csrf_token %}
					<div class="form-group" id="reject-summons-description">
						<label for="details" class="control-label">Summons Description</label>
						{{ archive_summons_form.details }}
					</div>
					<div class="form-group">
						<label for="id_resultReason" class="control-label">Reason for Rejecting</label>
						{{archive_summons_form.resultReason}}
					</div>
				</form>
	  		</div>
	  		<div class="modal-footer">
	   			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" onclick="$('#reject-summons-form').submit()">Reject Summons</button>
	  		</div>
		</div>
  	</div>
</div>
{% endblock %}

{% block embedded_js %}
<!-- Page specific utility javascript -->
<script type="text/javascript">
	// Initialize all date pickers on the page.
	$('.datepicker').datetimepicker({
		pickTime: false,
		showToday: true,
		minDate: moment()
	});

	// Specify the target for the approve summons form when approve summons is clicked
	$(".approve-summons").click(function(){
		var id = $( this ).attr('id');

		var oldAction = $("#accept-summons-form").attr('action');

		var newAction = oldAction.replace("/0/", "/" + id + "/");

		$("#accept-summons-form").attr('action', newAction);

		$("#accept-summons #archive-summons-description textarea").val($("#reason_" + id).html());

		$("#accept-summons").modal('show');
	});

	$(".reject-summons").click(function(){
		var id = $( this ).attr('id');

		var oldAction = $("#reject-summons-form").attr('action');

		var newAction = oldAction.replace("/0/", "/" + id + "/");

		$("#reject-summons-form").attr('action', newAction);

		$("#reject-summons #reject-summons-description textarea").val($("#reason_" + id).html());

		$("#reject-summons").modal('show');
	});

</script>
{% endblock %}