{% extends 'standards/_base.html' %}

{% block title %}Sigma Pi Secure - Manage Summons {% endblock %}
{% load common_utils %}

{% load staticfiles %}
	{% block module_includes %}
	<script type='text/javascript' src='{% static "js/lib/jquery.dataTables.min.js" %}'></script>
	<script type='text/javascript' src='{% static "js/secure/autotable.js" %}'></script>
{% endblock %}

{% block content %}
<h3>Manage Summons</h3>

<!-- Display any messages -->
{% if error %}
<div class="alert alert-warning">
	<strong>Error!</strong>
	{{ error }}
</div>
{% endif %}
{% if msg %}
<div class="alert alert-success">
	<strong>Success!</strong>
	{{ msg }}
</div>
{% endif %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#summons" role="tab">Summons Requests</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
	<!-- Summons -->
	<div id="summons" class="tab-pane active">
		<div class="table-responsive nospaced">
	 		<table class="dataTable-nosort table">
	 			<thead>
	 				<tr>
	 					<th class="two wide">Date</th>
	 					<th class="two wide">Recipient</th>
	 					<th class="ten wide">Reason</th>
	 					<th class="two wide">Summoner</th>
	 					<th class="one wide">Approve</th>
	 					<th class="one wide">Reject</th>
	 				</tr>
	 			</thead>
	 			<tbody>
	 				{% for summons in current_requests %}
	 				<tr>
	 					<td>{{ summons.dateRequestSent }}</td>
	 					<td>{{ summons|full_name:"summonee" }}</td>
						{% if summons.spokeWith %}
	 					<td><strong>Conversation outcome:</strong> {{ summons.outcomes }}. <strong>Further action requested because:</strong> {{summons.standards_action}}</td>
						{% else %}
						<td><strong>Special circumstance: </strong>{{summons.special_circumstance}}</td>
						{% endif %}
	 					<td>{{ summons|full_name:"summoner" }}</td>
	 					<td>
	 						<form method="POST" action="{% url 'standards-approve_summons_request' summons.pk %}">
								{% csrf_token %}
								<input type="submit" class="btn btn-success btn-sm" value="Approve"/>
							</form>
	 					</td>
	 					<td>
	 						<form method="POST" action="{% url 'standards-reject_summons_request' summons.pk %}">
								{% csrf_token %}
								<input type="submit" class="btn btn-danger btn-sm" value="Reject"/>
							</form>
	 					</td>
	 				</tr>
	 				{% endfor %}
	 			</tbody>
	 		</table>
	 	</div>
 	</div>
</div>

{% endblock %}