{% extends 'common/secure_base.html' %}

{% block module_nav %}
	<div class="sub-nav">
		<ul class="nav nav-pills">
			{% if '/scholarship/resources/' in request.path %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{% url 'scholarship-resources' %}">
					Academic Resources
				</a>
			</li>

			{% if '/scholarship/library/' in request.path %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{% url 'scholarship-library' %}">
					Library
				</a>
			</li>

			{% if '/scholarship/study_hours/' in request.path %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{% url 'scholarship-study_hours' %}">
					Study Hours
				</a>
			</li>

			{% if is_scholarship_head %}

			{% if '/scholarship/approve/' in request.path %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{% url 'scholarship-approve' %}">
					Approve Content
				</a>
			</li>

			{% endif %}

		</ul>
	</div>
{% endblock %}
