{% extends 'scholarship/_base.html' %}

{% block title %}
Sigma Pi Secure - Study Hours
{% endblock %}

{% block module_includes %}
{% load static %}
<script type="text/javascript" src='{% static "js/lib/moment.min.js" %}'></script>
<script type="text/javascript" src='{% static "js/lib/bootstrap-datetimepicker.min.js" %}'></script>

<link rel="stylesheet" type="text/css" href='{% static "css/lib/bootstrap-datetimepicker.min.css" %}'/>
{% endblock %}


{% block content %}
{% if is_scholarship_head %}

<h3>Track Study Hours</h3>
<p>Manage which users are required to report study hours.</p>

{% if messages %}
{% for message in messages %}
{% if 'track' in message.extra_tags %}

{% if message.level == 40 %}
<div class="alert alert-danger">
	<strong>Error! </strong>
{% else %}
<div class="alert alert-info">
	<strong>Info! </strong>
{% endif %}
	{{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}

<form enctype="multipart/form-data" method="post" class="form-inline" action="{% url 'scholarship-update_requirements' %}" style="width: 90%; margin-left: auto; margin-right:auto;">
	{% csrf_token %}
	<div class="form-group">
		{{update_requirements_form.user}}
		<label class="control-label"> needs to record </label>
	</div>
	<div class="form-group">
		{{update_requirements_form.number_of_hours}}
		<label class="control-label"> study hours per week. </label>
	</div>
	<button type="submit" class="btn btn-default">Update</button>
</form>

<h4>Currently Tracked Users</h4>
{% if currently_tracked_users %}
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Hours Logged</th>
				<th>Required Hours</th>
				<th>Send Probation</th>
				<th>End Tracking</th>
			</tr>
		</thead>
		<tbody>
			{% for tracked_user in currently_tracked_users %}

			{% if tracked_user.hours_this_week < tracked_user.number_of_hours %}
			<tr class="danger">
			{% else %}
			<tr class="success">
			{% endif %}
				<td>{{tracked_user.user.first_name}} {{tracked_user.user.last_name}}</td>
				<td>{{tracked_user.hours_this_week}}</td>
				<td>{{tracked_user.number_of_hours}}</td>
				<td>
					<form type="multipart/form-data" method="post" action="{% url 'scholarship-send_probation' tracked_user.pk %}" id="probation-{{tracked_user.pk}}">
						{% csrf_token %}
						<a href="#" onclick="$('#probation-{{tracked_user.pk}}').submit();">
							Send Probation
						</a>
					</form>
				</td>
				<td>
					<form type="multipart/form-data" method="post" action="{% url 'scholarship-untrack_user' tracked_user.pk %}" id="untrack-{{tracked_user.pk}}">
						{% csrf_token %}
						<a href="#" onclick="$('#untrack-{{tracked_user.pk}}').submit();">
							End Tracking
						</a>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<em>Note: Each week starts on Monday and ends Sunday at midnight.</em>
</div>
{% else %}
<p>There are no users being tracked currently</p>
{% endif %}
<div class="separator"></div>
{% endif %}


<h3>Report Study Hours</h3>

{% if is_tracked_user %}

<p>
	You have recorded {{ tracked_user_object.hours_this_week }} out of a required {{ tracked_user_object.number_of_hours }} study hours for this week.<br/>
	<em>Note: Each week starts on Monday and ends Sunday at midnight.</em>
</p>

{% if messages %}
{% for message in messages %}
{% if 'report' in message.extra_tags %}

{% if message.level == 40 %}
<div class="alert alert-danger">
	<strong>Error! </strong>
{% else %}
<div class="alert alert-info">
	<strong>Info! </strong>
{% endif %}
	{{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}

<form enctype="multipart/form-data" method="post" class="form-inline" action="{% url 'scholarship-record_hours' %}" style="width: 90%; margin-left: auto; margin-right:auto;">
	{% csrf_token %}
	<div class="form-group">
		<label class="control-label">I studied </label>
		{{record_hours_form.number_of_hours}}
	</div>
	<div class="form-group">
		<label class="control-label"> hours this week on</label>
		{{record_hours_form.date}}
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>

<h4>
	This Week's Hours
</h4>
{% if tracked_user_records_this_week %}
<div class="table-responsive">
	<table class="table">
		<tbody>
			{% for record in tracked_user_records_this_week %}
			<tr>
				<td>
					I studied for {{ record.number_of_hours }} hour(s) on {{ record.date }}.
					<span style="float: right">
						<em>(Recorded on {{ record.time_stamp }})</em>
					</span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<p>You have not logged any hours this week.</p>
{% endif %}

{% else %}
<p>
	Your study hours are not currently being tracked.
</p>
{% endif %}

{% endblock %}

{% block embedded_js %}
<!-- Page specific utility javascript -->
<script type="text/javascript">
	// Initialize all date pickers on the page.
	// Set date format to format returned by the server
	$("#id_date").attr("data-date-format", "YYYY-MM-DD"); 
	$('#id_date').datetimepicker({
		pickTime: false,
		showToday: true,
		maxDate: moment(),
		minDate: moment().day("Monday")
	});
</script>
{% endblock %}
