{% extends "mafia_base.html" %}

{% block title %}Sigma Pi Secure - Join Mafia Games {% endblock %}

{% block content %}
<h3>Mafia games accepting players</h3>

{% if game_infos %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="four wide">Name</th>
                <th class="two wide">Date Created</th>
                <th class="two wide">Moderator</th>
                <th class="two wide">Status</th>
                <th class="two wide">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for gi in game_infos %}
            <tr>
                <td>{{ gi.name }}</td>
                <td>{{ gi.created }}</td>
                <td>{{ gi.creator_name }}</td>
                {% if gi.joined %}
                <td>Joined</td>
                <td>
                     <form action="{% url 'MafiaFrontend.views.leave_game' gi.pk %}"
                           method="post"
                           enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" class="save btn btn-default" value="Leave" />
                    </form>
                </td>
                {% else %}
                <td>Not Joined</td>
                <td>
                     <form action="{% url 'MafiaFrontend.views.join_game' gi.pk %}"
                           method="post"
                           enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" class="save btn btn-default" value="Join" />
                    </form>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>There are currently no games to join.</p>
{% endif %}

{% endblock %}