{% extends "secure_base.html" %}

{% block module_nav %}
<div class="sub-nav">
    <ul class="nav nav-pills">

        {% if '/mafia/play' in request.path %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="{% url 'MafiaFrontend.views.play' %}">
                Play
            </a>
        </li>

        {% if '/mafia/join' in request.path %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="{% url 'MafiaFrontend.views.join' %}">
                Join
            </a>
        </li>
        
        {% if '/mafia/spectate' in request.path %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="{% url 'MafiaFrontend.views.spectate' %}">
                Spectate
            </a>
        </li>
        
        {% if '/mafia/moderate' in request.path %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="{% url 'MafiaFrontend.views.moderate' %}">
                Moderate
            </a>
        </li>

        {% if '/mafia/add' in request.path %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="{% url 'MafiaFrontend.views.add_game' %}">
                Create Game
            </a>
        </li>

    </ul>
</div>
{% endblock %}
