{% extends "mafia_base.html" %}

{% block title %}Sigma Pi Secure - Play Mafia Games {% endblock %}

{% block content %}
<h3>Your Mafia games</h3>

{% if game_infos %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="four wide">Name</th>
                <th class="two wide">Date Created</th>
                <th class="two wide">Moderator</th>
                <th class="two wide">Status</th>
                <th class="two wide">Play</th>
            </tr>
        </thead>
        <tbody>
        {% for gi in game_infos %}
            <tr>
                <td>{{ gi.name }}</td>
                <td>{{ gi.created }}</td>
                <td>{{ gi.creator_name }}</td>
                <td>{{ gi.status }}</td>
                <td>
                    <a href="{% url 'MafiaFrontend.views.play_game' gi.pk %}">
                        Play
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>There are no games you are playing or have played.</p>
{% endif %}

{% endblock %}