{% extends "mafia_base.html" %}

{% block title %}Sigma Pi Secure - Moderate Mafia Games {% endblock %}

{% block content %}
<h3>Moderated Mafia games</h3>

{% if game_infos %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="four wide">Name</th>
                <th class="three wide">Date Created</th>
                <th class="three wide">Status</th>
                <th class="two wide">Moderate</th>
            </tr>
        </thead>
        <tbody>
        {% for gi in game_infos %}
            <tr>
                <td>{{ gi.name }}</td>
                <td>{{ gi.created }}</td>
                <td>{{ gi.status }}</td>
                <td>
                    <a href="{% url 'MafiaFrontend.views.moderate_game' gi.pk %}">
                        Moderate
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>There are no games you are moderating or have moderated.</p>
{% endif %}

{% endblock %}